alertmanager:
   nodeSelector:
     {{tool_label|trim|replace(":"," : ")}}
kube-state-metrics:
   nodeSelector:
     {{tool_label|trim|replace(":"," : ")}}
kubestatemetrics:
   nodeSelector:
     {{tool_label|trim|replace(":"," : ")}}
server:
   nodeSelector:
     {{tool_label|trim|replace(":"," : ")}}
pushgateway:
   nodeSelector:
     {{tool_label|trim|replace(":"," : ")}}
