name: Lint Go files

on:
  pull_request: {}

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - workdir: cmapisrv-mock
          - workdir: egw-scale-utils

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          # renovate: datasource=golang-version depName=go
          go-version: 1.25.5
          cache-dependency-path: ${{ matrix.workdir }}/go.sum

      - name: Check module vendoring
        working-directory: ${{ matrix.workdir }}
        run: |
          go mod tidy
          go mod vendor
          test -z "$(git status --porcelain)" || (echo "please run 'go mod tidy && go mod vendor', and submit your changes"; exit 1)

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          # renovate: datasource=docker depName=golangci/golangci-lint
          version: v2.7.2
          skip-cache: true
          working-directory: ${{ matrix.workdir }}
          args: "--verbose --modules-download-mode=vendor"
