name: Lint Go files

on:
  pull_request: {}

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - workdir: cmapisrv-mock
          - workdir: egw-scale-utils

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          # renovate: datasource=golang-version depName=go
          go-version: 1.26.0
          cache-dependency-path: ${{ matrix.workdir }}/go.sum

      - name: Check module vendoring
        working-directory: ${{ matrix.workdir }}
        run: |
          go mod tidy
          go mod vendor
          test -z "$(git status --porcelain)" || (echo "please run 'go mod tidy && go mod vendor', and submit your changes"; exit 1)

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          # renovate: datasource=docker depName=golangci/golangci-lint
          version: v2.10.1
          skip-cache: true
          working-directory: ${{ matrix.workdir }}
          args: "--verbose --modules-download-mode=vendor"
