name: Lint Go files

on:
  pull_request: {}

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - workdir: cmapisrv-mock
          - workdir: egw-scale-utils

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Install Go
        uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
        with:
          # renovate: datasource=golang-version depName=go
          go-version: 1.24.0
          cache-dependency-path: ${{ matrix.workdir }}/go.sum

      - name: Check module vendoring
        working-directory: ${{ matrix.workdir }}
        run: |
          go mod tidy
          go mod vendor
          test -z "$(git status --porcelain)" || (echo "please run 'go mod tidy && go mod vendor', and submit your changes"; exit 1)

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@051d91933864810ecd5e2ea2cfd98f6a5bca5347 # v6.3.2
        with:
          # renovate: datasource=docker depName=golangci/golangci-lint
          version: v1.64.2
          skip-cache: true
          working-directory: ${{ matrix.workdir }}
          args: "--out-format colored-line-number --verbose --modules-download-mode=vendor"
