name: Lint Go files

on:
  pull_request: {}

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - workdir: cmapisrv-mock
          - workdir: egw-scale-utils

    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Install Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          # renovate: datasource=golang-version depName=go
          go-version: 1.25.4
          cache-dependency-path: ${{ matrix.workdir }}/go.sum

      - name: Check module vendoring
        working-directory: ${{ matrix.workdir }}
        run: |
          go mod tidy
          go mod vendor
          test -z "$(git status --porcelain)" || (echo "please run 'go mod tidy && go mod vendor', and submit your changes"; exit 1)

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
        with:
          # renovate: datasource=docker depName=golangci/golangci-lint
          version: v2.6.2
          skip-cache: true
          working-directory: ${{ matrix.workdir }}
          args: "--verbose --modules-download-mode=vendor"
